<div class="section">
	<%= content_tag( 'h1', 'Storylines' ) %>
	<ol>
		<%= render :partial => 'storyline', :collection => @storylines %>
	</ol>
</div>

<div class="section">
	<%= content_tag( 'h2', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new storyline', storyline_new_url ) ) %>
</div>