<div class="section">
	<%= content_tag( 'h1', "#{link_to( @character.name, character_show_url( :character => @character ) )} Edit".html_safe ) %>
</div>

<%= form_for @character, :url => { :action => 'update', :character_to_update => @character } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Update', :class => 'submit' ) %>
<% end %>