<div class="section">
<%= content_tag( 'h1', "#{@episode.display_title} - Add a new scene" ) %>
</div>

<%= form_for @scene, :url => { :controller => 'scene', :action => 'create' } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Add scene', :class => 'submit' ) %>
<% end %>