<div class="section">
	<%= content_tag( 'h2', 'Characters:' ) %>
	<ol>
		<%= render :partial => 'character_occupation/character_occupation_character', :collection => characters.characters_occupations %>
	</ol>
</div>