<li>
	<%= content_tag( 'h3', link_to( scene_with_description.display_title, scene_show_url( :scene => scene_with_description.guid )) ) %>
	<%= content_tag( 'p', scene_with_description.event_long_synopsis ) %>
</li>