<div class="section">
	<%= content_tag( 'h1', 'Scenes' ) %>
	<ol>
		<%= render :partial => 'scene', :collection => @scenes %>
	</ol>
</div>

<div class="section">
	<%= content_tag( 'h2', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new scene', scene_new_url ) ) %>
</div>