<div class="section">
	<%= content_tag( 'h1', 'Homefront' ) %>
	<%= content_tag( 'p', "Browsable storylines scraped from spreadsheets." ) %>
</div>

<div class="section">
	<%= content_tag( 'h2', 'Schema' ) %>
	<%= image_tag( 'schema.png', :alt => 'Database schema diagram' ) %>
</div>