<div class="section">
	<%= content_tag( 'h1', "#{@universe.title} #{content_tag( 'span', link_to( 'Edit', universe_edit_url( :universe => @universe.guid ) ) ) }".html_safe ) %>
	<%= render :partial => 'universe_details', :object => @universe %>
</div>