<div class="section">
	<%= content_tag( 'h1', "#{link_to( @storyline.title, storyline_show_url)} - #{@scene.display_title_with_episode} #{content_tag( 'span', link_to( 'Edit', scene_edit_url))}".html_safe ) %>
</div>

<%= render :partial => 'previous_next', :object => @scene %>

<%= render :partial => 'scene/details', :object => @scene %>

<%= render :partial => 'scene/script', :object => @scene unless @scene.script_lines.empty? %>