<div class="section">
	<%= content_tag( 'h1', "#{link_to( @place.title, place_show_url( :place => @place ) )} - Edit Note".html_safe ) %>
</div>

<%= form_for @note, :url => { :action => 'update', :note_to_update => @note } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Update', :class => 'submit' ) %>
<% end %>