<div class="section">
	<%= content_tag( 'h1', "#{@place.title} - Add a new note" ) %>
</div>

<%= form_for @note, :url => { :action => 'create' } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Add note', :class => 'submit' ) %>
<% end %>