<div class="section">
	<%= content_tag( 'h1', "#{link_to( @place.title, place_show_url)} - Note #{content_tag( 'span', link_to( 'Edit', place_note_edit_url))}".html_safe ) %>
</div>

<%= content_tag( 'h2', @note.date.strftime( '%d %B %Y' ) ) if @note.date %>
<%= content_tag( 'p', @note.note ) %>