<div class="section">
	<%= content_tag( 'h1', "#{link_to( @place.title, place_show_url( :place => @place.guid) )} Edit".html_safe ) %>
</div>

<%= form_for @place, :url => { :action => 'update', :place_to_update => @place.guid } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Update', :class => 'submit' ) %>
<% end %>