<div class="section">
	<%= content_tag( 'h1', 'Places' ) %>
	<ol>
		<%= render :partial => 'place', :collection => @places %>
	</ol>
</div>

<div class="section">
	<%= content_tag( 'h2', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new place', place_new_url ) ) %>
</div>