<div class="section">
	<%= content_tag( 'h1', "#{link_to( @actor.name, actor_show_url( :actor => @actor.guid ) )} Edit".html_safe ) %>
</div>

<%= form_for @actor, :url => { :action => 'update', :actor_to_update => @actor.guid } do |f| %>
	<%= render :partial => 'form', :object => f %>
  	<%= submit_tag( 'Update', :class => 'submit' ) %>
<% end %>