<table class="section">
	<% if artefact_details.short_synopsis and !artefact_details.short_synopsis.blank? -%>
		<tr>
			<%= content_tag( 'th', 'Short synopsis:' ) %>
			<%= content_tag( 'td', artefact_details.short_synopsis ) %>
		</tr>
	<% end -%>
	<% if artefact_details.long_synopsis and !artefact_details.long_synopsis.blank? -%>
		<tr>
			<%= content_tag( 'th', 'Long synopsis:' ) %>
			<%= content_tag( 'td', artefact_details.long_synopsis ) %>
		</tr>
	<% end -%>
</table>