<div class="section">
	<%= content_tag( 'h1', 'Artefacts' ) %>
	<ol>
		<%= render :partial => 'artefact', :collection => @artefacts %>
	</ol>
</div>

<div class="section">
	<%= content_tag( 'h2', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new artefact', artefact_new_url ) ) %>
</div>