<li>
	<%= content_tag( 'h3', membership.character.name ) %>
	<%= content_tag( 'p', membership.display_dates ) %>
	<%= content_tag( 'p', membership.membership_role.label ) if membership.membership_role %>
</li>